<div id = "mynetwork"></div>
{% if nodes|length > 100 and physics_enabled %}
<div id="loadingBar">
    <div class="outerBorder">
        <div id="text">0%</div>
        <div id="border">
            <div id="bar"></div>
        </div>
    </div>
</div>
{% endif %}
{% if conf %}
<div id = "config"></div>
{% endif %}
